<div class="container" style="width: 45%;position: relative; top: 5%">
    <div class="alert alert-success" role="alert">
        You have been successfully registered! Your account is waiting for our administrator approval. <br>
        Please check back later.
    </div>


</div>