<div class="row mt-3"></div>
  <div class="flipbook-container">
    <div class="row">
      <div class="card" style="position: relative; justify-content: center; height: auto; width: 500px; box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;">
          <div class="card-flipbook">
              <div class="text-center">
                  <h1>New Account</h1>
              </div>
              <%= render "form", user: @user %>
          </div>
      </div>
  </div>
</div>