<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

<% if @flipbook.url.present? %>
  <div style="position: absolute; left: 0.75rem; text-decoration: none">
    <%= link_to "Back to Flipbooks", flipbooks_path %>
  </div>

  <iframe
    src="<%= @flipbook.url %>"
    allowfullscreen
    height=100%
    width=100%
    frameborder="0">
  </iframe>
<% else %>
    <div class="position-absolute top-50 start-50 translate-middle text-center">
      <%= link_to "Back to flipbooks", flipbooks_path %>
    </div>
<% end %>
